body {
  background-color: rgb(250, 222, 225);

  text-align: center;

  color: black;
  position: relative;

}

p {
  text-align: center;
  padding: 0 5% 0 5%;
}

.card {
  height: 3em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-size: cover;
  font-size: 5em;
  background-image: url("https://i.imgur.com/P4tKkCK.jpeg");
  margin: 10px;
}

.flipped {
  font-size: 5em;
  background-image: url("https://images.unsplash.com/photo-1551376347-075b0121a65b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
}

form {
  text-align: center;
  font-size: medium;

}

.nextQuestion {
  text-align: center;
  background-color: rgb(241, 235, 240);
  margin: 10px;
}

#choice {
  background-color: rgb(241, 235, 240);

}

#answer {
  font-size: 25px;
}

#restartButton {
  background-color: rgb(241, 235, 240);
}

.win {
  font-family: fantasy;
}

#rules {
  color: rgb(160, 157, 157);
}

@media only screen and (max-width: 700px) {
  body {
    width: 100%;
    height: 100%;

  }

  .card {
    font-size: x-large;
  }

  #choice {
    width: 20%;

    height: 30%;
  }

  .container {
    width: 100%;
    height: 100%;

  }
}